{% extends 'base.html' %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center">Change Your Password</h2>
        <hr>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST" class="card p-3">
            {% csrf_token %}
            
            {{ form.as_p }}

            <button type="submit" class="btn btn-success w-100">Save New Password</button>
        </form>
        
        <div class="text-center mt-3">
            <a href="{% url 'profile' %}">Back to My Profile</a>
        </div>
    </div>
</div>
{% endblock %}
